:root {
  --header-height: 50px;
  --sidebar-width: 200px;
  --button-height: 44px;
  --form-control-body-height: 42px;
  --form-control-border: 2px solid #bdc3c7;
  --color-primary: #00BAA4;
  --color-sidebar: #008b6e;
  --color-text: #5f6368;
  --color-white: #FFF;
  --color-placeholder: #9197AE;
  --color-border-container: #E7E7EF;
  --color-border-button: #ebebeb;
  --font-size-SMALL: 12px;
  --font-size-MEDIUM: 14px; /* 0.785rem */
  --font-size-LARGE: 16px;
  --font-size-HEADER: 18px;
  --font-size-TITLE: 20px;
  --font-size-ICON: 20px;
  --generic-border-radius: 0px;
  --generic-border-width: 1px;
  --generic-space-container: 16px;
  --generic-space-components: 12px;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-placeholder);
  opacity: 1; /* Firefox */
}
/*Scrolling*/
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.Headerbar {  
    width: 100%;
    display: flex;
    height: var(--header-height);
    position: fixed;
    align-items: center;
    background-color: var(--color-primary);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.Main {
  height: 100vh; /* hace que ocupe el 100% de altura de la pagina*/
  padding-top: var(--header-height);
  display: flex;
  flex-grow: 1;
}

.Body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

@media screen and (max-width: 768px){
  .movement-pie-div {
    height: 460px !important;
  }
  .movement-pie-svg {
    height: 460px !important;
    width: 460px !important;
  }
}

@media screen and (max-width: 600px){
  .movement-pie-container {
    flex-direction: column;
  }
  .movement-pie-div {
    height: 400px !important;
    width: 400px !important;
  }
  .movement-pie-svg {
    height: 400px !important;
    width: 400px !important;
  }
}

.Headerbar-Icon {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
 .Headerbar-Icon > span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: var(--color-white);
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.Headerbar-Icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.Headerbar-Icon span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

.Headerbar-Icon span:nth-child(1), .Headerbar-Icon span:nth-child(2) {
  top: 4px;
}

.Headerbar-Icon span:nth-child(3), .Headerbar-Icon span:nth-child(4) {
  top: 16px;
}

.Headerbar-Icon span:nth-child(5), .Headerbar-Icon span:nth-child(6) {
  top: 28px;
}

.Headerbar-Icon.open span:nth-child(1),.Headerbar-Icon.open span:nth-child(5) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.Headerbar-Icon.open span:nth-child(2),.Headerbar-Icon.open span:nth-child(6) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.Headerbar-Icon.open span:nth-child(1) {
  left: 4px;
  top: 10px;
}

.Headerbar-Icon.open span:nth-child(2) {
  left: calc(50% - 4px);
  top: 10px;
}

.Headerbar-Icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.Headerbar-Icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.Headerbar-Icon.open span:nth-child(5) {
  left: 4px;
  top: 24px;
}

.Headerbar-Icon.open span:nth-child(6) {
  left: calc(50% - 4px);
  top: 24px;
}

.modal-header {
  border-top-left-radius: var(--generic-border-radius);
  border-top-right-radius: var(--generic-border-radius);
}
.modal-footer {
  border-bottom-left-radius: var(--generic-border-radius);
  border-bottom-right-radius: var(--generic-border-radius);
}
    .modal-content {
      border-radius: var(--generic-border-radius);
    }
    
/* Botones */
/* Boton Ripple */
.button-reactive-primary {
  border: 0;
  border-width: 0;
  background-color: var(--color-primary);
}
.button-reactive-inverse {
  border: solid;
  border-width: var(--generic-border-width);
  border-color: var(--color-border-container);
  background-color: var(--color-white);
}
.button-reactive-primary:hover {
  transition: 0.3s ease-in;
  /*filter: brightness(40%);*/
  background-image: linear-gradient(rgb(0 0 0/18%) 0 0);
}
.button-reactive-inverse:hover {
  transition: 0.3s ease-in;
  /*filter: brightness(40%);*/
  background-image: linear-gradient(rgb(0 0 0/4%) 0 0);
}


.sidebar-menu {
  padding: 0;
      height: calc(92vh);
      overflow: auto;
  width: var(--sidebar-width);
  left: calc(var(--sidebar-width) * -1);
  color: var(--color-white);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: all 0.5s ease;
  background: var(--color-sidebar);
  z-index: 9;
}

.sidebar-menu.open {
  -webkit-transform: translateX(var(--sidebar-width));
  transform: translateX(var(--sidebar-width));
}

.sidebar-menu > a > span {
  color: #bdd4d9 !important;
}

.sidebar-menu > a:is(:hover) {  
  transition: 0.3s ease-in;
  background-image: linear-gradient(rgb(0 255 255/30%) 0 0);
}

.sidebar-menu > a:is(:hover) > span {
  color: var(--color-white) !important;
}

.card-item {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}

.cards-list {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
   align-items: center;
   justify-items: center;
}

.pulsed {  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pulsed:active {
  -webkit-animation: pulse-effect 0.2s;
  -moz-animation: pulse-effect 0.2s;
  animation: pulse-effect 0.2s;
}

.pulsed:not(:active){
  transition: all 0.9s ease;
}

@keyframes pulse-effect {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(0, 186, 164,1);
    }
    100% {
       box-shadow: 0px 0px 5px 25px rgba(35, 130, 220,0);
    }
}

/* Boton Ripple: efecto */
@keyframes ripple-effect {
  to {
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0;
  }
}

.ripple-animated {  
    -webkit-transform: scale(4) !important;
    -moz-transform: scale(4) !important;
    -o-transform: scale(4) !important;
    -ms-transform: scale(4) !important;
    transform: scale(4) !important;
    opacity: 0 !important;
}


.checkbox-label {
	display: flex;
	align-items: center;
	padding: 0.375em;
	position: relative;
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
.checkbox-label + .checkbox-label {
	margin-left: 2em;
}

/* Default */
.checkbox-group {
	margin-bottom: 1.25em;
}
.checkbox {
	position: absolute;
	clip: rect(1px,1px,1px,1px);
	width: 1px;
	height: 1px;
}
.checkbox-text {
	color: var(--fg1);
	transition: color var(--trans-dur1);
}
.checkbox-text:after {
	background-color: var(--primary-t);
	border-radius: 0.375em;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: background-color 0.15s linear;
}
.check-icon {
	margin-right: 0.5em;
	width: 1.5em;
	height: 1.5em;
}
.check-icon__box {
	stroke: var(--fg3);
	transition: stroke var(--trans-dur1);
}
.check-icon__box-worm,
.check-icon__check-worm {
	stroke: var(--primary);
	transition:
		stroke var(--trans-dur1),
		stroke-dashoffset var(--trans-dur2) cubic-bezier(0.42,-0.2,0.58,1.2);
}

/* Focus and hover */
.checkbox:focus ~ .checkbox-text:after,
.checkbox:hover ~ .checkbox-text:after {
	background-color: var(--primary-t-hover);
}
.checkbox:checked + .check-icon .check-icon__box-worm,
.checkbox:indeterminate + .check-icon .check-icon__box-worm {
	stroke-dashoffset: -91;
}
.checkbox:checked + .check-icon .check-icon__check-worm {
	stroke-dashoffset: -6;
}
.checkbox:indeterminate + .check-icon .check-icon__box-worm {
	stroke-dashoffset: -111.38;
}
.checkbox:indeterminate + .check-icon .check-icon__check-worm {
	stroke-dashoffset: -26.38;
}

/* `:focus-visible` support */
@supports selector(:focus-visible) {
	.checkbox:focus ~ .checkbox-text:after {
		background-color: var(--primary-t);
	}
	.checkbox:focus-visible ~ .checkbox-text:after,
	.checkbox:hover ~ .checkbox-text:after {
		background-color: var(--primary-t-hover);
	}
}
